#header {
    position: relative;
    bottom: -160px;
    z-index: 2;
    margin-top: -160px;
}

#main_header {
    display: flex;
    align-items: center; 
    padding:  30px 10%;
    background: linear-gradient(rgb(0, 8, 51), rgba(0, 8, 51,0.5), transparent);
    position: relative
}
  
#main_header > div:first-child {
    flex: none;
}
 
#main_header > div:last-child {
    flex: 2;
}

#logo img {
    height: 85px;
    width: auto
}

#main_links {
    text-align: right;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

#main_links > a > button {
    margin-right: 30px;
    padding: 7px 40px;
    background-color: #156bfb;
    border-radius: 50px;
    font-weight: normal;
    font-size: 110%;
    font-weight: bold;
    padding-bottom: 2px
}


#main_links > a > button i {
    font-size: 70%;
    margin-right: 5px;
    background-color: rgb(18 79 181);
    border-radius: 50%;
    padding: 5px;
    color: #beb0d6;
    font-weight: 700;
    -webkit-animation: gif_right 2s infinite alternate;
    animation: gif_right 2s infinite alternate;
    position: relative;
    top: -2px;
  }
  

/* #main_links > a:first-child {
    margin: 20px;
    color: white;
    font-size: 120%;
    border-bottom: 2px solid #666;
    padding-bottom: 7px;
} */

#main_links > a:first-child:hover {
    border-color: #444;
    color: #ccc
}

/* #main_links > *:last-child {
    
    background: #1368ac;
    border:0px;
    border-radius: 50px;
    padding: 5px 25px;
    margin-left: 45px;
    font-size: 90%;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 10px 25px #000
} */


#main_links i {
   
    margin: 0 1px 0 7px;
    position: relative;
    top: 2px;
    height: 14px;
    width: 14px;
    display: inline-block;
}

#main_links .icon {
    width: 20px;
    margin: 5px;
}


.whatsapp_button > button {
    background: #333;
}

.whatsapp_button > button img {

    vertical-align: middle;
    margin-left: 10px;
    position: relative;
    top: -1px;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 0px) and (max-width: 768px) {

    #main_header {
        display: block;
        padding: 30px;
        border-bottom: 2px solid #333;
    }

    #logo {
        padding: 0px
    }

    #main_links {
        
        padding: 0px;
        flex-flow: row wrap;
        justify-content: initial;
        text-align: left
    }

    #main_links > a:first-child {
        margin-left: 5px;
    }

    #main_links > *:last-child {
        margin: 0px
    }
}

